<html>
  <head>
    <title>1vs1 Coding</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
  </head>
  <body>
      <div class="modal1" id="verifyModal">
          <div class="content">
              <form class="verifyForm">
                  <h3>Login to continue</h3>
                  <input class="form-control form-control-sm" id="formusername" type="text" name="username" placeholder="Username">
                  <input class="form-control form-control-sm" id="formpassword" type="password" name="password" placeholder="Password">
                  <button class="btn btn-primary" type="button" name="submitButton" id="formSubmit">Submit</button>
              </form>
              <h5 id="warning"></h5>
          </div>
      </div>
    <select id="1_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="1_time" min="1" value="20" style="width:40px;">
    <button id="1">Start room 1</button><br>

    <select id="2_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="2_time" min="1" value="20" style="width:40px;">
    <button id="2">Start room 2</button><br>

    <select id="3_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="3_time" min="1" value="20" style="width:40px;">
    <button id="3">Start room 3</button><br>

    <select id="4_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="4_time" min="1" value="20" style="width:40px;">
    <button id="4">Start room 4</button><br>

    <select id="5_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="5_time" min="1" value="20" style="width:40px;">
    <button id="5">Start room 5</button><br>

    <select id="6_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="6_time" min="1" value="20" style="width:40px;">
    <button id="6">Start room 6</button><br>

    <select id="7_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="7_time" min="1" value="20" style="width:40px;">
    <button id="7">Start room 7</button><br>

    <select id="8_select">
      <% questions.forEach((question)=> { %>
        <option value=<%=question._id%> ><%= question.title%></option>
      <% });%>
    </select>
    <input type="number" id="8_time" min="1" value="20" style="width:40px;">
    <button id="8">Start room 8</button><br>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>
  </body>
</html>
